@page "/blog"
@inject IJSRuntime _jsRuntime
@inject NavigationManager NavManager

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
</head>
    <h1 class="display-4">blog</h1>
    <div class="container">
    <ul class="nav flex-lg-row">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blog/go">
                <i class="devicon-go-plain colored"></i> Go
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blog/python">
                <i class="devicon-python-plain colored"></i> Python
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blog/csharp">
                <i class="devicon-csharp-plain-wordmark colored"></i> csharp
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blog/aws">
                <i class="devicon-amazonwebservices-plain-wordmark colored"></i> AWS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blog/linux">
                <i class="devicon-linux-plain colored"></i> linux
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blog/windows">
                <i class="devicon-windows8-original colored"></i> Windows
            </NavLink>
        </li>
    </ul>
    </div>
<p class="lead">
    I created this blog to really capture my thoughts in an organized way, but also to share with others the things I learn while in the trenches. I hope you find something beneficial. If you would like me to write about something specific let me know <a href="/requests">here</a> or if you want to privde me with general feedback.
</p>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
        await _jsRuntime.InvokeVoidAsync("removeloader");
        await _jsRuntime.InvokeVoidAsync("Prism.highlightAll");
    }

}
