@inject IJSRuntime _jsRuntime
@page "/donate"

<h1 class="display-4">donating == loving</h1>
<p class="lead">
    If you like what you see here please do not hesitate to dontate. I have five (5) little mouths to feed.
</p>
<p>
    <button @onclick="GoSomewhere" class="btn btn-primary"><i class="fa fa-cc-paypal"></i>  Donate</button>
</p>

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeVoidAsync("removeloader");
        await _jsRuntime.InvokeVoidAsync("Prism.highlightAll");
    }

    protected async void GoSomewhere()
    {
        Console.WriteLine("Inside Go somewhere");
        string url = "https://paypal.me/benjaminelser";
        await _jsRuntime.InvokeAsync<string>("clientJsfunctions.RedirectTo", url);
    }
}