@page "/"
@inject IJSRuntime _jsRuntime

<h1 class="display-4">Hi, I'm Ben!</h1>
<p class="lead">
  Welcome to my page. Take a look around.
</p>
<h3>Demonstrating python</h3>
<pre><code class="lang-python" >def my_function():
  print("Hello from a function")</code></pre>

@code{
  public int EventsFired = 0;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
      await _jsRuntime.InvokeVoidAsync("removeloader");
      await _jsRuntime.InvokeVoidAsync("Prism.highlightAll");
    }

    protected override void OnInitialized()
    {
      // Subscribing to child event not doing anything at the moment
      Contact.OnEventAdded += () => 
      {
        StateHasChanged();
      };

      Unsubscribe.OnEventAdded += () => 
      {
        StateHasChanged();
      };
    }
}