<div class="top-row pl-2 navbar navbar-dark">
<!-- Add font awesome icons -->
    <a class="navbar-brand" href="">Elser's Musings</a>
    <a href="https://twitter.com/benjelser" class="fa fa-twitter"></a>
    <a href="https://www.linkedin.com/in/benjaminelsercissp/" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/user/benjaminelser18/" class="fa fa-youtube"></a>
    <a href="https://github.com/benelser" class="fa fa-github"></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<!-- href resolves to razor page -->
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="signup">
                <span class="oi oi-people" aria-hidden="true"></span> Sign Up
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="donate">
                <span class="oi oi-dollar" aria-hidden="true"></span> Donate
            </NavLink>
        </li>
        @* <li class="nav-item px-3">
            <NavLink class="nav-link" href="randomquote">
                <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>Random Quote
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdatadb">
                <span class="oi oi-list-rich" aria-hidden="true"></span> DynamoDB Call
            </NavLink>
        </li> *@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
